---
http_interactions:
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&method=List_Add_Public&name=all-test-list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: '171'
  recorded_at: Wed, 20 Feb 2013 05:15:12 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&listId=171&method=List_Get_Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"listId":"171","name":"all-test-list","description":null,"type":"public","created":"2013-02-20
        05:15:12","optIn":false}'
  recorded_at: Wed, 20 Feb 2013 05:15:12 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&method=List_Get_Active_Lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"101":{"listId":"101","name":"City Suggestions","description":"","type":"internal","optIn":false,"listOwnerEmail":""},"171":{"listId":"171","name":"all-test-list","description":null,"type":"public","optIn":false,"listOwnerEmail":null}}'
  recorded_at: Wed, 20 Feb 2013 05:15:13 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&listId=171&method=List_Delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 20 Feb 2013 05:15:13 GMT
recorded_with: VCR 2.4.0
