---
http_interactions:
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&method=List_Add_Public&name=creationtest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: '179'
  recorded_at: Wed, 20 Feb 2013 05:15:24 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&listId=179&method=List_Get_Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"listId":"179","name":"creationtest","description":null,"type":"public","created":"2013-02-20
        05:15:24","optIn":false}'
  recorded_at: Wed, 20 Feb 2013 05:15:25 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&listId=179&method=List_Delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 20 Feb 2013 05:15:25 GMT
recorded_with: VCR 2.4.0
