---
http_interactions:
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&method=List_Add_Public&name=destroy-list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: '153'
  recorded_at: Wed, 20 Feb 2013 04:16:46 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&listId=153&method=List_Get_Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"listId":"153","name":"destroy-list","description":null,"type":"public","created":"2013-02-20
        04:16:46","optIn":false}'
  recorded_at: Wed, 20 Feb 2013 04:16:47 GMT
[...]
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&listId=153&method=List_Delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 20 Feb 2013 04:16:47 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&listId=153&method=List_Get_Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"result":"error","message":"Input Error: List 153 does not exist","code":601}'
  recorded_at: Wed, 20 Feb 2013 04:16:48 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&listId=153&method=List_Delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"result":"error","message":"Input Error: List 153 does not exist","code":601}'
  recorded_at: Wed, 20 Feb 2013 04:16:48 GMT
recorded_with: VCR 2.4.0
