---
http_interactions:
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?email=changed-1361332386-39238@example.com&key=%{API_KEY}&method=Contact_Get&optionalParameters%5BgetAllCustomFields%5D=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Wed, 20 Feb 2013 03:53:07 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?email=change-email-3@example.com&key=%{API_KEY}&method=Contact_Add&optionalParameters%5BupdateCustomFields%5D=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 20 Feb 2013 03:53:07 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?email=change-email-3@example.com&key=%{API_KEY}&method=Contact_Change_Email&newEmail=changed-1361332386-39238@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"changed-1361332386-39238@example.com":{"contactId":"45","email":"changed-1361332386-39238@example.com","source":"API
        2 Contact_Add","status":"active"}}'
  recorded_at: Wed, 20 Feb 2013 03:53:07 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?email=changed-1361332386-39238@example.com&key=%{API_KEY}&method=Contact_Get&optionalParameters%5BgetAllCustomFields%5D=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"changed-1361332386-39238@example.com":{"contactId":"45","email":"changed-1361332386-39238@example.com","source":"API
        2 Contact_Add","status":"active","customFields":{"first_name":"","last_name":"","email_address":"changed-1361332386-39238@example.com"}}}'
  recorded_at: Wed, 20 Feb 2013 03:53:08 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?email=changed-1361332386-39238@example.com&key=%{API_KEY}&method=Contact_Delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 20 Feb 2013 03:53:08 GMT
recorded_with: VCR 2.4.0
