---
http_interactions:
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&method=List_Add_Public&name=subscribe-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: '145'
  recorded_at: Wed, 20 Feb 2013 04:12:13 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&listId=145&method=List_Get_Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"listId":"145","name":"subscribe-test","description":null,"type":"public","created":"2013-02-20
        04:12:13","optIn":false}'
  recorded_at: Wed, 20 Feb 2013 04:12:13 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?email=successful-subscribe@example.com&key=%{API_KEY}&method=Contact_Add&optionalParameters%5BupdateCustomFields%5D=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'false'
  recorded_at: Wed, 20 Feb 2013 04:12:14 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?email=successful-subscribe@example.com&key=%{API_KEY}&listId=145&method=List_Subscribe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 20 Feb 2013 04:12:14 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?email=successful-subscribe@example.com&key=%{API_KEY}&method=Contact_Delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 20 Feb 2013 04:12:14 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&listId=145&method=List_Delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 20 Feb 2013 04:12:15 GMT
recorded_with: VCR 2.4.0
