---
http_interactions:
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?email=found@example.com&key=%{API_KEY}&method=Contact_Add&optionalParameters%5BupdateCustomFields%5D=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 20 Feb 2013 03:42:33 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?email=found@example.com&key=%{API_KEY}&method=Contact_Get&optionalParameters%5BgetAllCustomFields%5D=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"found@example.com":{"contactId":"1","email":"found@example.com","source":"Added
        by Admin","status":"active","customFields":{"first_name":"Found","last_name":"User","email_address":"found@example.com"}}}'
  recorded_at: Wed, 20 Feb 2013 03:42:33 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?email=found@example.com&key=%{API_KEY}&method=Contact_Delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 20 Feb 2013 03:42:33 GMT
recorded_with: VCR 2.4.0
