---
http_interactions:
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?email=found-suppressed-1361333430.34@example.com&key=%{API_KEY}&method=Contact_Add&optionalParameters%5BupdateCustomFields%5D=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 20 Feb 2013 04:10:30 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?email=found-suppressed-1361333430.34@example.com&key=%{API_KEY}&method=Contact_Suppress
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 20 Feb 2013 04:10:31 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?email=found-suppressed@example.com&key=%{API_KEY}&method=Contact_Get&optionalParameters%5BgetAllCustomFields%5D=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"found-suppressed@example.com":{"contactId":"11","email":"found-suppressed@example.com","source":"API
        2 Contact_Add","status":"active","customFields":{"first_name":"","last_name":"","email_address":"found-suppressed@example.com"}}}'
  recorded_at: Wed, 20 Feb 2013 04:10:31 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?email=found-suppressed-1361333430.34@example.com&key=%{API_KEY}&method=Contact_Delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'false'
  recorded_at: Wed, 20 Feb 2013 04:10:31 GMT
recorded_with: VCR 2.4.0
