---
http_interactions:
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&method=List_Add_Public&name=campaign-standard-create-failure
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: '129'
  recorded_at: Wed, 20 Feb 2013 03:29:35 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&listId=129&method=List_Get_Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"listId":"129","name":"campaign-standard-create-failure","description":null,"type":"public","created":"2013-02-20
        03:29:35","optIn":false}'
  recorded_at: Wed, 20 Feb 2013 03:29:36 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&listId=129&method=List_Delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 20 Feb 2013 03:29:36 GMT
recorded_with: VCR 2.4.0
