---
http_interactions:
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?campaignName=factory%20campaign&content%5Btext%5D=This%20is%20a%20good%20message!%20%7BCOMPANY_ADDRESS%7D&key=%{API_KEY}&method=Campaign_Create_Transactional&senderEmail=sender@example.com&senderName=Sender%20Example&subject=Factory%20Campaign%20Message&testContact%5Bemail%5D=test-contact@example.com&testReplacements%5Bfirst_name%5D=John
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: '105'
  recorded_at: Wed, 20 Feb 2013 05:15:59 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?campaignId=105&contacts%5Bemail%5D=bad&key=%{API_KEY}&method=Campaign_Send_Transactional_Multiple&optionalParameters%5BcontinueOnError%5D=true&source=Customer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"errors":[{"email":"bad","source":"Customer","_err_":302,"_msg_":"Invalid
        email address provided"}]}'
  recorded_at: Wed, 20 Feb 2013 05:15:59 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?campaignId=105&key=%{API_KEY}&method=Campaign_Delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 20 Feb 2013 05:16:00 GMT
recorded_with: VCR 2.4.0
