---
http_interactions:
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&method=List_Add_Public&name=import-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: '135'
  recorded_at: Wed, 20 Feb 2013 04:11:56 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&listId=135&method=List_Get_Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"listId":"135","name":"import-test","description":null,"type":"public","created":"2013-02-20
        04:11:56","optIn":false}'
  recorded_at: Wed, 20 Feb 2013 04:11:56 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?contacts%5Bemail%5D=import@example.com&key=%{API_KEY}&listId=135&method=List_Import_Contacts&optionalParameters%5BactivateDeleted%5D=true&optionalParameters%5BupdateCustomFields%5D=true&source=Manual%20Entry
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"errors":[],"success":1}'
  recorded_at: Wed, 20 Feb 2013 04:11:56 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?key=%{API_KEY}&listId=135&method=List_Delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 20 Feb 2013 04:11:57 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?email=import@example.com&key=%{API_KEY}&method=Contact_Get&optionalParameters%5BgetAllCustomFields%5D=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"import@example.com":{"contactId":"17","email":"import@example.com","source":"Manual
        Entry","status":"active","customFields":{"first_name":"","last_name":"","email_address":"import@example.com"}}}'
  recorded_at: Wed, 20 Feb 2013 04:11:58 GMT
- request:
    method: get
    uri: https://api.emailcampaigns.net/2/REST/?email=import@example.com&key=%{API_KEY}&method=Contact_Delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 20 Feb 2013 04:11:58 GMT
recorded_with: VCR 2.4.0
